/node_modules
/images
/dist
/.hintrc
/.Projec1.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._CSS.png
portfolio-website/portfolio-website/images/stack/Bootstrap.svg
portfolio-website/portfolio-website/images/stack/Bash.svg
portfolio-website/__MACOSX/portfolio-website/images/projects/._Project1.png
portfolio-website/__MACOSX/portfolio-website/images/projects/._Project2.png
portfolio-website/__MACOSX/portfolio-website/images/._stack
portfolio-website/__MACOSX/portfolio-website/._images
portfolio-website/__MACOSX/portfolio-website/._.DS_Store
portfolio-website/__MACOSX/._portfolio-website
portfolio-website/__MACOSX/portfolio-website/images/._.DS_Store
portfolio-website/__MACOSX/portfolio-website/images/._projects
portfolio-website/__MACOSX/portfolio-website/images/._userAsset
portfolio-website/__MACOSX/portfolio-website/images/projects/._Project3.png
portfolio-website/__MACOSX/portfolio-website/images/projects/._Project4.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._.DS_Store
portfolio-website/__MACOSX/portfolio-website/images/stack/._Bash.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Bootstrap.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._ChartJs.svg
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/stack/._Express.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._Github.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Docker.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Git.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Graphql.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._HTML.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._Javascript.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._K8s.svg
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/stack/._NodeJs.svg
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/stack/._NextJsCircle.png
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/stack/._Tailwind.png
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._.DS_Store
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._NavLogo.jpg
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._blob vector.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._Typescript.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Vercel.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._Saas.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._MongoDB.svg
.gitignore
portfolio-website/__MACOSX/portfolio-website/images/stack/._Next.svg
portfolio-website/__MACOSX/portfolio-website/images/stack/._React.png
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._UserImage.png
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._dots.png
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._cube.png
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._circle.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._Redux.svg
portfolio-website/portfolio-website/.DS_Store
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._zigzags.png
portfolio-website/__MACOSX/portfolio-website/images/stack/._MaterialUI.svg
portfolio-website/__MACOSX/portfolio-website/images/userAsset/._plus.png
portfolio-website/portfolio-website/images/.DS_Store
.gitignore
portfolio-website/portfolio-website/images/projects/Project1.png
.gitignore
.gitignore
portfolio-website/portfolio-website/images/stack/NodeJs.svg
.gitignore
portfolio-website/portfolio-website/images/stack/MongoDB.svg
.gitignore
portfolio-website/portfolio-website/images/stack/Git.svg
.gitignore
portfolio-website/portfolio-website/images/stack/.DS_Store
.gitignore
portfolio-website/portfolio-website/images/stack/MaterialUI.svg
.gitignore
portfolio-website/portfolio-website/images/stack/Saas.svg
.gitignore
portfolio-website/portfolio-website/images/stack/Next.svg
portfolio-website/portfolio-website/images/stack/K8s.svg
portfolio-website/portfolio-website/images/stack/Graphql.svg
portfolio-website/portfolio-website/images/stack/Github.svg
portfolio-website/portfolio-website/images/stack/HTML.png
.gitignore
portfolio-website/portfolio-website/images/stack/Tailwind.png
.gitignore
portfolio-website/portfolio-website/images/userAsset/circle.png
portfolio-website/portfolio-website/images/userAsset/.DS_Store
portfolio-website/portfolio-website/images/stack/Vercel.svg
portfolio-website/portfolio-website/images/stack/Redux.svg
.gitignore
portfolio-website/portfolio-website/images/stack/Javascript.svg
portfolio-website/portfolio-website/images/stack/Express.png
portfolio-website/portfolio-website/images/stack/NextJsCircle.png
portfolio-website/portfolio-website/images/userAsset/blob vector.png
.gitignore
portfolio-website/portfolio-website/images/stack/Typescript.svg
.gitignore
portfolio-website/portfolio-website/images/userAsset/NavLogo.jpg
.gitignore
portfolio-website/portfolio-website/images/userAsset/UserImage.png
.gitignore
portfolio-website/portfolio-website/images/userAsset/plus.png
.gitignore
portfolio-website/portfolio-website/images/userAsset/cube.png
.gitignore
portfolio-website/portfolio-website/images/stack/Docker.svg
portfolio-website/portfolio-website/images/stack/React.png
portfolio-website/portfolio-website/images/userAsset/dots.png
portfolio-website/portfolio-website/images/userAsset/zigzags.png
portfolio-website/portfolio-website/images/stack/CSS.png
.gitignore
portfolio-website/portfolio-website/images/stack/ChartJs.svg
portfolio-website/portfolio-website/images/projects/Project4.png
portfolio-website/portfolio-website/images/projects/Project3.png
.gitignore
portfolio-website/portfolio-website/images/projects/Project2.png
